<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ asset ('css/accueil.css') }}">
    <title>Document</title>
</head>
<body>

<header>
    <div>
        <ul>
            <li class="liste"><a href="{{ path('twig_accueil') }}">
                    accueil
                </a></li>
            <li class="liste"><a href="{{ path('twig_article') }}">
                    articles
                </a></li>
            <li class="liste"><a href="{{ path('twig_contact') }}">
                    contact
                </a></li>

            <li class="liste">lien 3</li>

        </ul>
</header>
<section>
    <aside class="gauche">
    </aside>


    <aside class="droite">
    </aside>

</section>


<footer>
    <div>ici ce sera mon footer a la con</div>
</footer>
</body>
</html>