
    {% block title %}
    <title>accueil</title>
    {% endblock %}


{% extends 'common/_header.html.twig' %}



{% block main %}
    <main>
        <div class="block1">
            <div>
                <img src="https://ressources.blogdumoderateur.com/2013/04/everystockphoto-240x160.jpg" alt="" class="image">
                <p> blablabla</p></p>
            </div>
            <div>
                <img src="https://ressources.blogdumoderateur.com/2013/04/everystockphoto-240x160.jpg" alt="" class="image">
                <p> blablabla</p></p>
            </div>
            <div>
                <img src="https://ressources.blogdumoderateur.com/2013/04/everystockphoto-240x160.jpg" alt="" class="image">
                <p> blablabla</p></p>
            </div>
        </div>
        <div class="block2">
            <div>
                <img src="https://ressources.blogdumoderateur.com/2013/04/everystockphoto-240x160.jpg" alt="" class="image">
                <p> blablabla</p></p>
            </div>
            <div>
                <img src="https://ressources.blogdumoderateur.com/2013/04/everystockphoto-240x160.jpg" alt="" class="image">
                <p> blablabla</p></p>
            </div>
            <div>
                <img src="https://ressources.blogdumoderateur.com/2013/04/everystockphoto-240x160.jpg" alt="" class="image">
                <p> blablabla</p></p>
            </div>
        </div>
    </main>
    {% endblock %}



