
{% block title %}
    <title>articles</title>
{% endblock %}
{% extends 'common/_header.html.twig' %}


{% block main %}
        <main>
            <div><img src="https://ressources.blogdumoderateur.com/2013/04/everystockphoto-240x160.jpg" alt=""></div>
            <div> <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad blanditiis dignissimos ducimus
                    hic in itaque, laborum modi possimus reiciendis vel? Alias commodi delectus dolor eos est
                    impedit maiores non quae? Aliquam animi architecto assumenda atque doloribus
                    eligendi, eos excepturi fugit illo in ipsam magnam maxime nihil nulla officia porro provident,
                    quas quibusdam, quisquam quos recusandae reiciendis repudiandae totam! Maxime, sit? Adipisci aut
                    autem cumque dolores fugiat fugit in iure, magnam nam nesciunt non optio possimus provident qui
                    quidem quod reprehenderit sequi unde vero voluptas! Consequuntur labore magnam nam! Ab, ipsum.</p>
            </div>

        </main>

{% endblock %}








